.popup {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s 0.6s,
      opacity 0.6s;
    justify-content: center;
    align-items: center;
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    color: #000;
  
    background: rgba(0, 0, 0, 0.5);
  
    z-index: 99;
  }

  .popup_opened {
    visibility: visible;
    opacity: 1;
    transition:
      visibility 0s 0.25s,
      opacity 0.6s;
  }

  .popup__content {
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  
    padding: 25px 22px;
  
    box-sizing: border-box;
    position: fixed;
  
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  
    max-width: 282px;
  }
  
  @media screen and (min-width: 680px) {
    .popup__content {
      max-width: 350px;
      padding: 35px 28px;
    }
  }
  
  @media screen and (min-width: 1082px) {
    .popup__content {
      max-width: 430px;
      padding: 34px 36px;
    }
  }
  .popup__close-btn {
    all: unset;
  
    background: url(../../Images/icons/pop-up__close-icon.svg);
    background-size: contain;
  
    position: absolute;
    right: 0;
    top: -36px;
  
    width: 20px;
    height: 20px;
  
    cursor: pointer;
  }
  
  .popup__close-btn:hover {
    opacity: 0.6;
  }
  
  @media screen and (min-width: 1082px) {
    .popup__close-btn {
      right: -40px;
      top: -40px;
  
      width: 32px;
      height: 32px;
    }
  }
    